:root .theme_dark {
  --background-page: #000028;
  --accent-color: #ff0070;
  --nav-color: var(--accent-color);
  --text-color: #f1b2ce;
  --heading-color: #db00ff;
  --hover-border: rgb(255 0 112 / 0.4);
  --shadow-color: var(--accent-color);
  --desc-title: var(--accent-color);
  --desc-subtitle: var(--background-page);
  --decor-zone: var(--accent-color);
  --rec-color: var(--accent-color);
}

.theme_dark.page {
  background-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {

  :root {
    --background-page: #000028;
    --accent-color: #ff0070;
    --nav-color: var(--accent-color);
    --text-color: #f1b2ce;
    --heading-color: #db00ff;
    --hover-border: rgb(255 0 112 / 0.4);
    --shadow-color: var(--accent-color);
    --desc-title: var(--accent-color);
    --desc-subtitle: var(--background-page);
    --decor-zone: var(--accent-color);
    --rec-color: var(--accent-color);
  }

  .theme_auto.page {
    background-image: url(../images/cover-image-dark.png);
  }
}
