:root .theme_dark {
  --background-page: #000028;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --heading-color: #db00ff;
  --hover-border: rgba(255, 0, 112, 0.4);
}

.theme_dark.page {
  background-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {

:root {
  --background-page: #000028;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --heading-color: #db00ff;
  --hover-border: rgba(255, 0, 112, 0.4);
  }

  .theme_auto.page {
    background: url(../images/cover-image-dark.png) var(--background-page);
  }
}
