:root .theme_light {
  --background-page: #fff1f7;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --heading-color: #ffc2e6;
  --hover-border: #32312d66;
}

.theme_light.page {
  background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {

  :root {
    --background-page: #fff1f7;
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --heading-color: #ffc2e6;
    --hover-border: #32312d66;
    
  }

  .theme_auto.page {
    background: url(../images/cover-image-light.png) var(--background-page);
  }
}
