/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  
  font-family: "IBM Plex Mono",sans-serif;
  font-size: calc(var(--font-size) * 1px);
  font-weight: 400;
  line-height: calc( var(--line-height) / var(--font-size));
  background-color: var(--background-page);
  background-attachment: fixed;
  background-image: url(../images/cover-image-dark.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  color:var(--text-color);
  max-inline-size: 1024px;
 
   

  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}
/* Что делать, когда не можешь делать ничего Или почему нам так сложно сконцентрироваться, особенно когда очень надо */

/* header */

.header {
  position: relative;
  display: grid;
  grid-template-rows:1fr min-content 1fr;

  block-size: max(668px,100vh);
  padding: 20px 20px 20px 0;
 }


 @media (width <=535px) {

  .header{
    padding:10px;
  }

 }


 .header:before,.header:after {
  content: "";
  position: absolute;
  border-inline-end:1px solid var(--accent-color);
  border-block-start:1px solid var(--accent-color);
  display: block;
  inline-size: 25px;
  aspect-ratio: 1;
 }

 .header:before {
  inset-inline-end: 20px;
  inset-block-start: 20px;
}

 .header:after {
  rotate:180deg;
  inset-inline-start: 20px;
  inset-block-end: 20px;
 }

 @media (width <=535px) {

  .header:before {
    inset-inline-end: 10px;
    inset-block-start: 10px;
  }
  
   .header:after {
 
    inset-inline-start: 10px;
    inset-block-end: 10px;
   }
 }

.decorated-zone {
}

.header__theme-menu {
  
  justify-self: center;
  padding-left: 20px;
}

@media screen and (orientation:portrait) {

  .header__theme-menu {
      align-self: center;
      justify-self: end;
      display: flex;
     
  }
}

.header__theme-menu-list {
  display: flex;
  gap:10px;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 1;
}

@media screen and (orientation:portrait) {
  
  .header__theme-menu-list {
    flex-direction: column;
  }
}

.header__theme-menu-item {
 
}

.header__theme-menu-button {
font-family: 'IBM Plex Mono',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1;
text-align: center;


  text-transform: lowercase;
  padding: 3px 13px;
color: var(--accent-color);

}

.header__theme-menu-button_type_light {
}

.header__theme-menu-button_active {
  border:1px solid  var(--accent-color);
  pointer-events: none;
  
}

.header__theme-menu-button_type_auto {
}
.header__theme-menu-button_type_dark {
}



.decorated-zone {
}


.header__decor-elem {
  position: absolute;
  display: flex;
  align-items: center;
  
  inset-block-start:20px;
  text-transform: uppercase;
  inset-inline-end: 40px;
  color:var(--accent-color);
  max-width: 52px;
  /* padding-block-start:2px; */
  text-align: center;
  line-height: 1.38;
}

.header__decor-elem:after {
  position: relative;
  left:9px;
  content:"";
  display: block;
  font-size: 0;
  inline-size: 9px;
  block-size: 9px; 
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}


@media (width<=535px) {
  .header__decor-elem {
    inset-block-start:10px;
    inset-inline-end: 29px;
  }
}


.header__title {
font-family: 'IBM Plex Mono',sans-serif;
font-weight: 700;
font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
line-height: 0.82;
color: var(--heading-color);
text-shadow: 4px 4px 0 var(--accent-color);
justify-self: start;
}

@media (width<768px) {

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}


.title-decor {
  color: var(--background-page);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
}

.header__subtitle {
  width: clamp(23rem, 48.047vw - 0.063rem, 30.688rem);
  font-family: 'IBM Plex Mono', sans-serif;
  font-style: normal;
  align-self:center;
  justify-self: end;
  line-height: 1.3;
  
}



@media (width <=535px) {

  .header__subtitle {
    width: 100%;
    padding-right: 50px;
  }
}





.main {
  padding-block: 60px 80px;
}


@media (width<=535px) {

  .main {
    padding-block: 40px 80px;
  }
}


/* desc  */


.section {
  padding-inline: 20px;
}

@media (width<=535px) {

  .section {
    padding-inline: 10px;
  }
}



.desc {
  display:grid;
  gap:20px;
  
}



.desc:nth-of-type(odd) {
  grid-template-columns: clamp(14.813rem, 30.469vw + 0.188rem, 19.688rem) 1fr;
}

@media (width <= 535px) {

  .desc:nth-of-type(odd) {
    grid-template-columns: 1fr;
  }
  
}



.desc:nth-of-type(even) .desc__list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

@media (width <= 768px) {

  .desc:nth-of-type(even) .desc__list {
    grid-template-columns:initial;
  }
}

.desc:nth-of-type(even) .desc__title {
    width: min(100%,300px);
} 

@media (width <= 768px) {

  .desc:nth-of-type(even) .desc__title {
    width: min(100%,200px);
} 
}


@media (width <= 535px) {

  .desc:nth-of-type(even) .desc__title {
    width: min(100%,300px);
} 
}





.desc:not(:last-child) {
  padding-bottom:80px;

}

@media (width <= 535px) {

  .desc:not(:last-child) {
    padding-bottom:50px;
  }
}



.desc__title {
  font-size: 18px;
  line-height: 1.3;
  color: var(--accent-color);

}

.desc__subtitle {
  margin-bottom: 10px;
}

.desc__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.desc__text {
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.3;
}



.desc__subtitle_reg {
  font-weight: 400;
}



/* gallery */

.gallery__cards {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-areas: 
  "card-1 card-1 card-2"
  "card-3 card-4 card-2"
  "card-3 card-5 card-5";
  gap: 20px;
}


.gallery__title {
  margin-bottom: 20px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card-1 {
  grid-area:card-1;
}

.card-2 {
  grid-area:card-2;
}

.card-3 {
  grid-area:card-3;
}

.card-4 {
  grid-area:card-4;
}

.card-5 {
  grid-area:card-5;
}


@media (width <= 535px) {

  .gallery__title {
    margin-bottom: 10px;
  }

  .gallery__cards {
    display: flex;
    flex-direction: column;
    gap:5px;
    }

    