/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-size: 18;
  --line-height: 23.4;
  --background-page: #000028;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --heading-color: #db00ff;
  --offset: 20px;
  --main-height: max(668px, 100vh);

 
}


@media (width<=535px) {

  :root {
    --offset: 10px;
  }
}
